            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                background-color: #080808;
            }

            .header {
                border-bottom: 1px solid rgba(0, 255, 21, 0.734);
                background-color: black;
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .header ol {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 85%;
                margin: auto;
                /* border: 2px solid blue; */
                text-transform: capitalize;
            }

            .header ol li {
                margin: 0rem 2rem;
                color: rgb(139, 133, 133);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 100;
                list-style: none;
            }
            #logo img {
                height: 40px;
            }

            .header ol li:hover {
                color: white;
                cursor: pointer;
            }

            /* section1 css started */

            .section1 {
                background-color: #555555;
            }

            .section1 p {
                text-align: center;
                color: #eeeeee;
                font-size: 14px;
                font-family: roboto, sans-serif;
                padding: 14px;
            }
            .background-image {
                /* border: 2px solid red; */
                /* width: 100%; */
                height: 100vh;
                background-image: url(https://assets2.razerzone.com/images/pnx.assets/9d0a8ebf8b1a2e39e745cdefefe9b83d/razer-blade-18-2024-homepage-desktop2x.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .content {
                padding: 3rem;
            }
            .background-image h1 {
                color: white;
                font-size: 3rem;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                /* padding: 0.8rem; */
            }
            .background-image h4 {
                color: white;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                padding: 0.8rem;
                font-weight: 400;
                cursor: pointer;
            }
            .background-image p {
                font-size: 20px;
                color: white;
                text-align: center;
                display: flex;
                justify-content: center;
                text-transform: capitalize;
                font-family: Arial, Helvetica, sans-serif;
            }
            .background-image p:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            .background-image p span {
                /* border: 2px solid red; */
                margin: 0px 2rem;
                font-family: Arial, Helvetica, sans-serif;
            }
            .background-image p span i {
                /* border: 2px solid red; */
                margin: 0.3rem 0.2rem;
                font-size: 15px;
                color: green;
            }
            .background-image p i {
                /* border: 2px solid red; */
                margin: 0.3rem 0.2rem;
                font-size: 15px;
                color: green;
            }

            /* section 2 css started */

            .section2 {
                background-color: black;
            }

            .background-image2 {
                height: 100vh;
                background-image: url(https://assets2.razerzone.com/images/pnx.assets/eb50479fa893b4be75eba8f6994f3e78/1920x600.webp);
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: 100rem;
                background-size: cover;
            }
            .content1 {
                margin-top: 3rem;
            }

            .background-image2 h1 {
                color: white;
                font-size: 3rem;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
            }
            .background-image2 h4 {
                color: white;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                padding: 0.8rem;
                font-weight: 400;
                cursor: pointer;
            }
            .background-image2 p {
                color: white;
                font-size: 1rem;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                padding: 0.8rem;
                font-weight: 400;
                cursor: pointer;
            }
            .background-image2 p:hover {
                text-decoration: underline;
            }

            .section2 img {
                height: 50px;
                position: relative;
                top: -100px;
                left: 36%;
            }

            .section3 {
                width: 100%;
                position: relative;
            }

            .image3 {
                height: 100vh;
                background-image: url(https://assets2.razerzone.com/images/pnx.assets/64506e5ad9282e95b4a6c5212295016c/kiyo-pro-ultra-homepage-desktop2x.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .content2 {
                /* border: 2px solid red; */
                padding-top: 3.5rem;
            }
            .section3 h1 {
                font-size: 3rem;
                text-align: center;
                z-index: 2;
                color: white;
                font-family: sans-serif;
            }
            .section3 h4 {
                text-align: center;
                font-size: 1.5rem;
                z-index: 2;
                color: white;
                padding: 0.8rem;
            }
            .image3 p {
                color: white;
                font-size: 1rem;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                font-weight: 400;
                cursor: pointer;
            }

            .image3 p i {
                margin: 0rem 0.5rem;
                color: rgb(4, 241, 4);
                font-size: 15px;
            }
            .image3 p span {
                margin: 0px 2rem;
                font-family: Arial, Helvetica, sans-serif;
            }
            .image3 p span i {
                margin: 0rem 0.5rem;
                color: rgb(3, 254, 3);
            }

            .image3 p:hover {
                text-decoration: underline;
            }
            .image3 span:hover {
                text-decoration: underline;
            }

            .grid {
                border-top: 10px solid #323232;
                background-color: #323232;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }

            .item1 {
                /* border: 2px solid black; */
                height: 500px;
                background-image: url(https://assets2.razerzone.com/images/pnx.assets/13d4e2184099fa08efb7b704cccbc68a/razer-white-edition-line-b-950x580-desktop.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .item2 {
                /* border: 2px solid black; */
                height: 500px;
                background-image: url(https://assets2.razerzone.com/images/pnx.assets/2ef5b37da7be946a487d825118880d3c/razer-skins-blade-b-950x580-desktop.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .item3 {
                /* border: 2px solid black; */
                height: 500px;
                background-image: url(https://assets2.razerzone.com/images/pnx.assets/f84336463b5c2d7466d6474a5ed259e7/razer-viper-v3-pro-b-950x580-desktop.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .item4 {
                /* border: 2px solid black; */
                height: 500px;
                background-image: url(https://assets2.razerzone.com/images/pnx.assets/e9d1f25b84209661bb678afc1a1580f8/battlestation-glory-b-950x580-desktop.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .item5 {
                /* border: 2px solid black; */
                height: 500px;
                background-image: url(https://assets2.razerzone.com/images/pnx.assets/f84336463b5c2d7466d6474a5ed259e7/razer-iskur-v2-extended-warranty-b-950x580-desktop.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .item6 {
                /* border: 2px solid black; */
                height: 500px;
                background-image: url(https://assets2.razerzone.com/images/pnx.assets/2ef5b37da7be946a487d825118880d3c/seiren-v3-chroma-quartz-b-950x580-desktop.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .content2 h1 {
                font-size: 35px;
                text-align: center;
                font-family: sans-serif;
            }
            .content2 h4 {
                font-size: 18px;
                text-align: center;
                font-family: sans-serif;
                font-weight: 100;
                margin-top: 15px;
                color: #3f3f3f;
            }
            .content2 p {
                text-align: center;
                text-transform: capitalize;
                font-family: sans-serif;
                padding: 10px;
                color: black;
            }
            .content2 p i {
                font-size: 12px;
                margin: 10px;
            }

            .content2 p:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            .item2 h1 {
                color: white;
            }
            .item2 p {
                color: white;
            }
            .item2 h4 {
                color: white;
            }
            .item2 p i {
                font-size: 12px;
                margin: 10px;
                color: green;
            }

            .item3 h1 {
                color: white;
            }
            .item3 h4 {
                color: white;
            }
            .item3 p {
                color: white;
            }
            .item3 p i {
                font-size: 12px;
                margin: 10px;
                color: green;
            }
            .item4 h1 {
                color: white;
            }
            .item4 h4 {
                color: white;
            }
            .item4 p {
                color: white;
            }
            .item4 p i {
                font-size: 12px;
                margin: 10px;
                color: green;
            }
            .item5 h1 {
                color: white;
            }
            .item5 h4 {
                color: white;
            }
            .item5 p {
                color: white;
            }
            .item5 p i {
                font-size: 12px;
                margin: 10px;
                color: green;
            }
            .item6 h1 {
                color: white;
            }
            .item6 h4 {
                color: white;
            }
            .item6 p {
                color: white;
            }
            .item6 p i {
                font-size: 12px;
                margin: 10px;
                color: green;
            }
            @media (max-width: 1200px) {
                .background-image h1,
                .background-image h4,
                .background-image2 h1,
                .background-image2 h4,
                .section3 h1,
                .section3 h4 {
                    font-size: 2.5rem;
                }

                .grid {
                    grid-template-columns: 1fr;
                }

                .item1,
                .item2,
                .item3,
                .item4,
                .item5,
                .item6 {
                    height: 400px;
                }
            }

            @media (max-width: 768px) {
                .header ol {
                    flex-direction: column;
                    padding: 0.5rem;
                }

                .header ol li {
                    margin: 0.5rem 0;
                    font-size: 16px;
                    display: none;

                }
                .header #logo {
                    display: block;

                }

                .background-image h1,
                .background-image h4,
                .background-image2 h1,
                .background-image2 h4,
                .section3 h1,
                .section3 h4 {
                    font-size: 2rem;
                }

                .grid {
                    grid-template-columns: 1fr;
                }

                .item1,
                .item2,
                .item3,
                .item4,
                .item5,
                .item6 {
                    height: 300px;
                }
            }

            @media (max-width: 480px) {
                .background-image h1,
                .background-image h4,
                .background-image2 h1,
                .background-image2 h4,
                .section3 h1,
                .section3 h4 {
                    font-size: 1.5rem;
                }

                .grid {
                    grid-template-columns: 1fr;
                }

                .item1,
                .item2,
                .item3,
                .item4,
                .item5,
                .item6 {
                    height: 250px;
                }

                .header ol {
                     flex-direction: column;

                }

                .header ol li {
                    margin: 0.5rem 0;
                    font-size: 14px;

                }
            }